<a href="https://colab.research.google.com/github/MohammdJ/lab5/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df=pd.read_csv('iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
df.iloc[0] #choose the row and the column

sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object

In [6]:
df.loc[2,'petal.length'] #choose the row and the name of the column

1.3

In [9]:
df.drop # drop a column

TypeError: ignored

In [11]:
import numpy as np #print in a matrix type
b=np.array([(1,2,3),(3,4,5)])
print(b)

[[1 2 3]
 [3 4 5]]

In [13]:
np.savetxt('mohammad.csv',b,delimiter=',') #save my array or data in a file
df.head(9)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa

In [16]:
from sklearn.neighbors import KNeighborsClassifier
y=[]
for i in df['variety']:
  if i=='Setosa':
    y.append(0)
  elif i=='Versicolor':
    y.append(1)
  else:
    y.append(2)
y=np.array(y)
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [21]:
mymodel=KNeighborsClassifier(n_neighbors=5)
X_TRAIN=df.drop('variety',axis=1).values
Y_TRAIN=y.reshape(-1,1)

mymodel.fit(X_TRAIN,Y_TRAIN)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [0]:
test_on=np.array([5,1.2,0.1,0.2]).reshape(1,-1)
mymodel.predict(test_on)